// <<<<<<< HEAD
// <<<<<<< HEAD
// <<<<<<< HEAD
.container{
	height: 200px;
	background: green;
	.navbar{
		// background: grey;
		h4{
			color: red;
			text-transform: uppercase;
			// margin-right: 40%;
			float: left;
		}
		.nav-link{
			color: red;
		}

// =======
.phong{
	background: red;
	height: 500px;
	img {
		width: 100%;
		height: 500px;
		@media screen and (max-width: 767px) {
			height: 200px;
		}
// >>>>>>> phong
	}
// =======
p button{
	background: yellow;
}
// >>>>>>> thang
// =======
.hung{
	h3{
		text-transform: uppercase;
		
	}
	.duongke{
		width: 100%;
		height: 1px;
		background: black;
	}
	.card{
			img{
				

			&:hover{
				background: red;
			}
		}
	}
	p{
		small{
			font-size: 15px;
		}
	}
// >>>>>>> hung
}